---
// ImagePostCard.astro
export interface Props {
  post: {
    url: string;
    frontmatter: {
      title: string;
      pubDate: string;
      excerpt: string;
      image: string;
      minutesRead: string;
    };
  };
}
---

<a href={post.url}>
  <div class="h-full rounded-2xl bg-stone-200/50 p-[1px] text-sm shadow hover:bg-gradient-to-r dark:bg-gray-900">
    <img src={post.frontmatter.image} alt={post.frontmatter.title} class="w-full rounded-t-2xl" />
    <div class="flex flex-col p-4 bg-stone-300 dark:bg-stone-800">
      <div class="flex justify-between pb-4 text-xs">
        <p>{formatDate(post.frontmatter.pubDate)}</p>
        <p>{post.frontmatter.minutesRead}</p>
      </div>
      <p class="pb-4 text-lg font-bold">{post.frontmatter.title}</p>
      <p class="line-clamp-6 pt-4">{post.frontmatter.excerpt}</p>
    </div>
  </div>
</a>